/* Browser Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Import fonts */

/* Importing Young Serif font */
@font-face {
    font-family: "Young Serif";
    src: url("./fonts/young-serif/YoungSerif-Regular.ttf");
}

/* Importing Outfit Font */
@font-face {
    font-family: "Outfit";
    src: url("./fonts/outfit/Outfit-VariableFont_wght.ttf");
}


/* Custom Properties */
:root {
    /* For the color */
    --white: hsl(0, 0%, 100%);
    --stone100: hsl(30, 54%, 90%);
    --stone150: hsl(30, 18%, 87%);
    --stone600: hsl(30, 10%, 34%);
    --stone900: hsl(24, 5%, 18%);
    --brown800: hsl(14, 45%, 36%);
    --rose800: hsl(332, 51%, 32%);
    --rose50: hsl(330, 100%, 98%);

    /* For the font size */
    --font-base: 16px;

    /* For the font weight */
    --font-normal: 400;
    --font-medium: 600;
    --font-bold: 700;
}


body{
    font-size: var(--font-base);
    font-weight: var(--font-normal);
    font-family: "Outfit", sans-serif;
}

h1, h2 {
    font-family: "Young Serif", serif;
    font-weight: var(--font-medium);
}

p, li {
    color: var(--stone600);
}

main {
}
section {
    background-color: var(--white);
}

section > img {
    width: 100%;
}

section > .introduction {
    padding: 30px;
}

h1 {
    font-size: 38px;
    line-height: 40px;
    margin-bottom: 25px;
    color: var(--stone900);
}

section > .introduction > p {
    line-height: 25px;
}

section > .prep_time {
    background-color: var(--rose50);
    margin: 20px 40px;
    padding: 30px 40px;
    border-radius: 10px;
}

section > .prep_time > h3 {
    color: var(--rose800);
    margin-bottom: 10px;
}

section > .prep_time > ul {
    margin-left: 20px;
}

section > .prep_time > ul > li {
    padding-left: 20px;
    margin-bottom: 10px;
}

section > .prep_time > ul > li::marker {
    color: var(--rose800);
}

section > .ingredients {
    padding: 30px;
}




